/*Deleloped by Dillon Hubble, Ricky Le and Thejai Reim   2017*/

/*logo styling*/

#logocontainer {
  background-color: white;
  width: 100%;
  height: 15%;
}

#logoimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 30%;
}

#logo {
  margin: auto;
  width: 75%;
  text-align: center;
}

/*Content container styling*/

#container {
  margin: auto;
  width: 75%;
  background-color: rgba(255, 255, 255, 0.85);
  min-height: 75%;
  border-radius: 10px
}

/*header syling*/

#header {
  margin: 0%;
  width: 100%;
}

/*style for body*/

body {
  margin: auto;
  background-color: #ff9900;
  font-family: 'Open Sans', sans-serif;
}

/*set navbar size and center*/

#navbar {
  width: 75%;
  position: absolute;
  right: 12.5%;
}


/*style for nav buttons*/

.ulnavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.button {
  float: left;
  width: 20%;
}


/*style for nav buttons*/

.linavbar {
  float: left;
  width: 100%;
}


/*style for nav buttons*/

.linavbar a {
  display: inline-block;
  background-color: rgb(230, 230, 230);
  color: black;
  text-align: center;
  padding: 0.73vw 0px;
  text-decoration: none;
  font-size: 1.57vw;
  width: 100%;
}

/*Border radius for navbar*/

#homeButton a {
  border-radius: 10px 0px 0px 10px;
}

#ratesButton a, #locaton&hours, #securityButton a {
  border-radius: 0px 0px 0px 0px;
}

#supportButton a {
  border-radius: 0px 10px 10px 0px;
}


/*style for nav buttons*/

.linavbar a:hover {
  background-color: rgb(210, 210, 210);
}

/*header style*/

.titleHeader {
  margin-top: 3%;
  padding: 14px 0px 0px 0px;
  margin-left: 3%;
  font-size: 3.7vw;
}

/*normal text style*/

.bodyContent {
  text-align: left;
  font-size: 2vw;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1.5%;
  width: 80%;
}

/*indent normal text*/

.indentBodyContent {
  margin-left: 10%;
}

/*Map styling*/

#map {
  width: 100%;
  height: 50%;
}

/*style for tables*/

#table {
  text-align: left;
  width: 100%;
  font-size: 1.15vw;
  table-layout: fixed;
}

tr {
  height: 3.5vw;
}

th {
  font-size: 2vw;
  font-family: inherit;
  font-weight: normal;
  /*font-weight: lighter;*/
  vertical-align: top;
}

/*style for image on homepage*/

#homeimg {
  width: 75%;
  margin-right: 12.5%;
  margin-left: 12.5%;
  border-radius: 10px;
  margin-top: 3%;
}

/*styling for owner photo*/

#ownerimgcontainer {
  float: left;
  width: 30%;
  margin-left: 3%;
  margin-top: 3%;
  margin-right: 3%;
}

#ownerimg {
  width: 100%;
  border-radius: 10px;
}

#downloadButton {
    background-color: #ff9900; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    border-radius: 10px;
}

#drivesavers {
  text-align: center;
}

#socialmediacontainer {
  margin-left: 12.5%;
  position: absolute;
  width: 75%;
}

#socialmedia {
  margin-right: 1%;
  float: left;
  display: inline-block;
  width: 3vw;
  text-align: center;
}

/*style for watermark*/

#watermark {
  font-size: 0.73vw;
  /*text-align: right;*/
  right: 12.5%;
  display: inline-block;
  float: right;
  position: absolute;
}
